@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Signika&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#navbar {
    padding: 1rem calc((100vw - 1200px) / 2) ;
    display: flex;
    justify-content: space-between;
}
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-family: oi;

}
body{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(img/background3.jpg) no-repeat center top / cover;
}
.menu a {
    color:#000;
    text-decoration: none;
    margin: 0.1rem 0.1rem;
    font-size: 1.5rem;
    border: 2px solid #fff;
    border-radius: 10%;
    background-color: #fff;
    font-family: signika;
}
.menu a:hover {
    background-color:transparent;
    color:#fff;
}
.hero {
    color:#fff;
     
}

.conteiner {
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-align: center;
    margin: 0;
    line-height: 1.3;
    margin-top: 10%;
}

.next-section {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2rem;
        margin: auto;
        text-align: center;
}
.next-section a {
    color: #fff;
    font-size: 3rem;
}
.next-section a:hover {
    color:#3adb1a;
}